body{
	background-color: #212121;
	margin: auto;
} 
main{
	margin: auto;
	max-width: 1000px;
}
h1{
	color: white;
	text-align: center;
	font-size: 60px;
	padding-top: 10px;
}
#logoFlamengo{
	margin: 0px;
	padding-left: 10px;
	display: flex;
	width: 60%;
	height: auto;
}
#logoCont{
	top: 5px;
	height: 100px;
	float: left;
	position: absolute;
	max-width: 200px;
}
header{
	margin-top: -40px;
	height: 90px;
	background: darkred;
	display: block;
}
nav{
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	font-size: 22px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	max-width: 400px;
	height: 30px;
	text-align: center;
	background-color: darkred;
}
#content{
	color: white;
	max-width: 900px;
	margin: 20px;
	padding: 15px;
	top: 5px;
	background-color: #5e5e5e;
}
#high{
    max-width: 960px;
    margin: 5px;
    top:5px;
    display: flex;
    text-align: center;
}
#popjogadas{
    color: white;
    margin:15px;
    width: 300px;
    background:#5e5e5e;
    height:350px;
    padding: 15px;
}
#gabi{
    width:100%;
    height: auto;
}
a:link {
	color : white;
	background-color: transparent;
	text-decoration: none;
}
a:visited {
	color : white;
	background-color: transparent;
	text-decoration: none;
}
a:hover {
	color: #f4c32e;
	background-color: transparent;
	text-decoration: none;
}
a:active {
	color: #f4c32e;
	background-color: transparent;
	text-decoration: none;
}
