body{
	background-color: #212121;
	margin: auto;
} 
main{
	margin: auto;
	max-width: 1000px;
}
h1{
	color: white;
	text-align: center;
	font-size: 40px;
	padding-top: 10px;
}
#h1Cont{
	text-align: center;
	width: relative;
	padding-top: 10px;
}
#logoFlamengo{
	margin: 0px;
	padding-left: 10px;
	display: flex;
}
#logoCont{
	top: 5px;
	height: 100px;
	float: left;
	position: absolute;
}
#headCont{
	height: 120px;
}
header{
	height: 130px;
	background: darkred;
	display: block;
}
nav{
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	font-size: 22px;
	margin: auto;
	height: 30px;
	text-align: center;
}
#content{
	color: white;
	max-width: 900px;
	margin: 20px;
	padding: 15px;
	top: 5px;
	background-color: #5e5e5e;
}
a:link {
	color : white;
	background-color: transparent;
	text-decoration: none;
}
a:visited {
	color : white;
	background-color: transparent;
	text-decoration: none;
}
a:hover {
	color: darkred;
	background-color: transparent;
	text-decoration: none;
}
a:active {
	color: darkred;
	background-color: transparent;
	text-decoration: none;
}
